 video {
    width: 500px;
    margin-left: 358px;
    border: 2px solid black;
    border-radius:10px ;  
    box-shadow: 0px 0px 10px 5px green;
}
body{
    background-image: url('R (1).jfif');
    background-repeat: no-repeat;
    
  
}